body {
  background-color: rgb(224, 224, 224);
}

.input-container {
  /* TODO: finalize these values */
  width: 600px;
  height: 460px;
  background-color: white;
  margin: auto;
  margin-top: 40px;
  border: 2px solid rgb(194, 194, 194);
  border-bottom: 4px solid rgb(194, 194, 194);
}

.top-part {
  margin: 0%;
  width: 100%;
  height: 125px;
  border-bottom: 1px solid rgb(194, 194, 194);
  background-image: url("../assets/banner.jpg");
  background-position: -0px -80px;
}

#top-header {
  margin: 0px;
  padding-top: 30px;
  font-size: 25px;
  font-weight: 580;
  padding-left: 37px;
  color: rgb(81, 81, 81);
  font-family: Arial;

  /* TODO: figure out font-style */
}

#top-description {
  margin: 0px;
  padding-top: 24px;
  font-size: 20px;
  padding-left: 37px;
  color: rgb(81, 81, 81);
  font-family: Arial;

  /* TODO: figure out font-style */
}

.address-part {
  padding-top: 15px;
  padding-left: 37px;
  color: rgb(83, 96, 141);
}

.address-type {
  padding-top: 15px;
  margin: 0px;
}
.address-type-state {
  margin-left: 50px;
}
.asteric {
  color: red;
  margin: 0px;
}
#street {
  width: 500px;
  height: 25px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;

  height: fit-content;
  width: fit-content;
  background-color: white;

  padding: 10px 10px;

  border-radius: 5px;
  border: 0.5px solid gray;
  box-shadow: 5px 5px 5px grey;

  position: absolute;
  top: 35px;
  left: 40%;
  z-index: 1;
}

.arrow-top {
  width: 10px;
  height: 10px;
  background-color: white;
  border-top: 0.5px solid gray;
  border-left: 0.5px solid gray;
  transform: rotate(45deg);
  position: absolute;
  top: -6px;
}

.exclamation-image {
  display: flex;
  color: white;
  font-weight: bolder;
  font-size: 16px;

  height: 30px;
  width: 30px;
  background-color: orange;
  border-radius: 3px;

  align-items: center;
  justify-content: center;

  margin-right: 5px;
}

#city {
  width: 230px;
  height: 25px;
}

#state {
  width: 215px;
  height: 25px;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 16px;
  background: linear-gradient(lightgray 50%, white);
}

.horizontal-line {
  padding-left: 40px;
  padding-right: 40px;
}

.automatic-location {
  padding-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(83, 96, 141);
}

.submit-part {
  padding-left: 40px;
  padding-bottom: 50px;
  margin-top: 20px;
}

#submit {
  color: white;
  font-size: 16px;
  background-color: rgb(74, 100, 160);
  width: 100px;
  height: 50px;
  border: 0px;
  border-bottom: 5px solid darkblue;
}

#submit:hover {
  background-color: rgb(89, 109, 156);
}

#clear {
  color: White;
  font-size: 16px;
  background-color: rgb(248, 174, 46);
  width: 100px;
  height: 50px;
  border: 0px;
  border-bottom: 5px solid darkorange;
}

#clear:hover {
  background-color: rgb(249, 185, 73);
}

#current-w-container {
  /* TODO: finalize these values */
  display: none;
  width: 800px;
  height: 420px;
  /* box-shadow: 0px 8px 8px gray; */
  background-color: white;
  margin: auto;
  margin-top: 80px;
  border: 2px solid rgb(194, 194, 194);
  border-bottom: 4px solid rgb(194, 194, 194);
}

#current-w-container:hover {
  box-shadow: 0px 15px 15px gray;
}

#current-location {
  display: flex;
  align-items: center;
  height: 90px;
  padding-left: 20px;
}

#current-location-value {
  font-size: 32px;
  font-family: sans-serif;
  font-weight: lighter;
  color: gray;
}

#current-temperature-container {
  display: flex;
  height: 180px;
}

#current-status-container {
  width: 400px;
  display: flex;
  flex-direction: column;
}

#current-status-image {
  width: 200px;
  height: 150px;
}

#current-status-title {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 18px;
  font-family: arial;
}

#current-temp-value-container {
  width: 400px;
}

#current-temp-value {
  font-size: 120px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

#current-fields {
  height: 145px;
  display: flex;
}

.current-field-container {
  width: 16.66%;
  text-align: center;
  color: gray;
}

.current-field-image {
  width: 30%;
  text-align: center;
  color: gray;
}

.current-field-text {
  font-family: Arial, Helvetica, sans-serif;
}

#week-w-container {
  display: none;
  margin: auto;
  margin-top: 50px;
  width: 1100px;
}

.week-header-container {
  background-color: rgb(74, 100, 160);
  height: 50px;
  display: flex;
}

.week-header {
  color: rgb(49, 51, 59);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.week-header-date {
  width: 28%;
}
.week-header-status {
  width: 18%;
}
.week-header-temphigh {
  width: 18%;
}
.week-header-templow {
  width: 18%;
}
.week-header-windspeed {
  width: 18%;
}

#week-row-container {
  display: flex;
  margin-top: 10px;
}
.week-row {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  height: 70px;
  background-color: white;
}

.week-row-status-img {
  height: 50px;
}

.week-row-status-text {
  margin-left: 5px;
  font-size: 20px;
}

#day-w-info-container {
  display: none;
  margin: auto;
  margin-top: 50px;
  height: 550px;
  width: 600px;
  font-family: Arial, Helvetica, sans-serif;
}

#day-w-info-title {
  height: 60px;
  margin: auto;
  width: fit-content;
  text-align: center;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
  font-size: 35px;
}

#day-w-info-box {
  height: 450px;
  background: linear-gradient(white, rgb(50, 77, 130));
}

#day-w-info-box:hover {
  box-shadow: 0px 5px 5px grey;
}

.day-w-info-top-part {
  height: 150px;
  display: flex;
}

.day-w-info-top-part-left {
  width: 400px;
}

#day-w-info-top-date {
  font-size: 25px;
  color: rgb(74, 100, 160);
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
  height: 45px;
  font-size: 30px;
}

#day-w-info-top-status {
  font-size: 25px;
  color: rgb(74, 100, 160);
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 45px;
  font-size: 30px;
}
#day-w-info-top-temp {
  font-size: 30px;
  color: rgb(74, 100, 160);
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 60px;
  font-size: 35px;
}

.day-w-info-top-part-right {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#day-w-info-top-image {
  height: 100%;
}

.day-w-info-bottom-part {
  height: 250px;
  margin-top: 20px;
  display: flex;
  font-weight: 600;
}

.day-w-info-bottom-left {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5px;
}

.day-w-info-bottom-left-index {
  color: white;
  height: 35px;
  font-size: 22px;
  text-align: right;
}

.day-w-info-bottom-right {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}

.day-w-info-bottom-right-index {
  color: white;
  height: 35px;
  font-size: 24px;
  text-align: left;
}

#day-w-charts-container {
  display: none;
  width: 1300px;
  height: 1000px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 180px;
}

#day-w-charts-open {
  height: 150px;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

#day-w-charts-description {
  font-size: 40px;
  padding-bottom: 15px;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid white;
}

#day-w-charts-arrow {
  width: 70px;
}

#day-w-charts-chart1 {
  height: 500px;
  background-color: white;

  margin: 20px auto;
}

#day-w-charts-chart2 {
  height: 500px;
  background-color: white;
  margin: 20px auto;
}
